<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Exam Management System {% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {% block head %}{% endblock head %}
</head>
<body>
    <header> {% block header %}{% endblock header %} </header>
    <div class="sidenav">{% block sidenav %}{% endblock sidenav %}</div>
    <div class="main">
        {% block main %} {% endblock main %}
    </div>
    <footer> {% block footer %}{% endblock footer %} </footer>
</body>
</html>
