<div class="grid-container">
    <div class="grid-item" style="background-color: #7cb342;">
        <i class="fas fa-user-graduate fa-3x"></i>
        <h2>Total Students</h2>
        <p class="item-content">{{ total.students }}</p>
    </div>
    <div class="grid-item" style="background-color: #ef5350;">
        <i class="fas fa-chalkboard-teacher fa-3x"></i>
        <h2>Total Teachers</h2>
        <p class="item-content">{{ total.teachers }}</p>
    </div>
    <div class="grid-item" style="background-color: #e6a5f5;">
        <i class="fas fa-school fa-3x"></i>
        <h2>Total Classes</h2>
        <p class="item-content">{{ total.classes }}</p>
    </div>
    <div class="grid-item" style="background-color: #42a5f5;">
        <i class="fas fa-book fa-3x"></i>
        <h2>Total Courses</h2>
        <p class="item-content">{{ total.courses }}</p>
    </div>
    <div class="grid-item" style="background-color: #8d6e63;">
        <i class="fas fa-file-alt fa-3x"></i>
        <h2>Total Exams</h2>
        <p class="item-content">{{ total.exams }}</p>
    </div>
</div>
